In [146]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [147]:
columns = ["age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "target"]
heart_data = pd.read_csv('heart.csv')

In [148]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [149]:
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1626,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
1627,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
1628,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
1629,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
1630,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [150]:
heart_data.shape

(1631, 14)

In [151]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1631 entries, 0 to 1630
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1631 non-null   int64
 1   sex       1631 non-null   int64
 2   cp        1631 non-null   int64
 3   trestbps  1631 non-null   int64
 4   chol      1631 non-null   int64
 5   fbs       1631 non-null   int64
 6   restecg   1631 non-null   int64
 7   thalach   1631 non-null   int64
 8   exang     1631 non-null   int64
 9   oldpeak   1631 non-null   float64
 10  slope     1631 non-null   int64
 11  ca        1631 non-null   int64
 12  thal      1631 non-null   int64
 13  target    1631 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 178.5 KB

In [152]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [153]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000,1631.000000
mean,54.408952,0.690987,0.951563,131.616186,246.098099,0.148988,0.529123,149.312078,0.332925,1.059657,1.390558,0.744942,2.320049,0.524831
std,9.070421,0.462228,1.029972,17.513916,51.649469,0.356186,0.526807,22.955814,0.471404,1.169270,0.616847,1.027205,0.617204,0.499536
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,132.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.000000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [154]:
heart_data['target'].value_counts()

1    856
0    775
Name: target, dtype: int64

In [155]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [156]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      63    1   3       145   233    1        0      150      0      2.3
1      37    1   2       130   250    0        1      187      0      3.5
2      41    0   1       130   204    0        0      172      0      1.4
3      56    1   1       120   236    0        1      178      0      0.8
4      57    0   0       120   354    0        1      163      1      0.6
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1626   57    0   0       140   241    0        1      123      1      0.2
1627   45    1   3       110   264    0        1      132      0      1.2
1628   68    1   0       144   193    1        1      141      0      3.4
1629   57    1   0       130   131    0        1      115      1      1.2
1630   57    0   1       130   236    0        0      174      0      0.0

      slope  ca  thal
0         0   0     1
1         0   0     2
2         2   0     2
3         2   0     2
4         2   0     2
...     ...  ..   ...
1626      1   0     3
1627      1   0     3
1628      1   2     3
1629      1   1     3
1630      1   1     2

[1631 rows x 13 columns]

In [157]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
1626    0
1627    0
1628    0
1629    0
1630    0
Name: target, Length: 1631, dtype: int64

In [158]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,stratify=Y, random_state=2)

In [159]:
print(X.shape, X_train.shape, X_test.shape)

(1631, 13) (1304, 13) (327, 13)

In [160]:
model = LogisticRegression()

In [161]:
model.fit(X_train, Y_train)

/Applications/anaconda3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [162]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [163]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8466257668711656

In [164]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [165]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.8470948012232415

In [172]:
input_data = (48,1,3,130,219,1,1,155,1,1.5,2,1,2)

In [173]:
input_data_as_numpy_array= np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
print(prediction)
if (prediction[0]== 0):
    print('The Person does not have a Heart Disease')
else:
    print('The Person has Heart Disease')

[1]
The Person has Heart Disease

/Applications/anaconda3/lib/python3.10/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(